<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />  -->
    <meta charset="utf-8">
   <meta content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   <link href="/stylesheets/StyleSheet.css" rel="stylesheet" />
  </head>
  <body>
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
          <div class="form">
              <!-- the input -->
              <div class="first-row">
                  <a href="#">
                      <img src="https://s13.postimg.org/r7a1xqv1j/1480623034_lock.png" alt="login" class="icon-login"></a>
                  <h2 class="first-login">LOGIN</h2>
              </div>
              <form action="#" method="post">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Username">
                      <span class="input-group-addon">
                          <span class="fa fa-user fa-2x"></span>
                      </span>
                  </div>
                  <div class="input-group">
                      <input type="password" class="form-control" placeholder="password">
                      <span class="input-group-addon">
                          <span class="fa fa-lock fa-2x"></span>
                      </span>
                  </div>
              </form>
              <div class="row">
                  <div class="remember-me col-sm-6 col-xs-6">
                      <label class="switch">
                          <input type="checkbox">
                          <div class="slider round"></div>
                      </label>
                      <p>Remember Me</p>
                  </div>
                  <div class="forget col-sm-6 col-xs-6">
                      <a href="#">Forgot your password ?</a>
                  </div>
              </div>

              <a href="#" class="btn btn-primary btn-lg login-btn">LOGIN</a>
          </div>
      </div>
      <!-- login with social -->

    <!--  <div class="social-login col-sm-6 col-sm-offset-3">
          <h3>OR : </h3>
          <div class="btn-group btn-group-one">
              <a href="#" class="btn btn-primary btn-fb"><i class="fa fa-facebook-f"></i></a>
              <a href="#" class="btn btn-primary btn-fb">Login with Facebook</a>
          </div>
          <div class="btn-group btn-group-two">
              <a href="#" class="btn btn-info btn-tw"><i class="fa fa-twitter"></i></a>
              <a href="#" class="btn btn-info btn-tw">Login with Twitter</a>
          </div>
          <p class="sign-up">Not A Member ? <a href="#">SIGN UP Now!</a></p>
      </div>-->
      <!-- end of : login with social -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
